.calls-logo{
    border-radius:50px ;
    height: 50px;
    width: 50px;
    margin-top: 15px;
}
.calls-name{
    position: absolute;
    left: 5%;
   padding-block-start: 20px;
    margin-top:50 px;
    margin-bottom: 80%;
    /* top: 60%; */
}
.calls-item{
    margin-block: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
}

.phone-icon{
 margin-left: 1%;
 padding: 5%;
 padding-block-start: 20px;
 margin-top: 90%;
 padding-top: 10%;
 /* display: flex;
    align-items: center; */
}
.phone-icon i{
  margin-top: 10px;
  position: absolute;
    left: +21%;
   padding-block-start: 20px;
    margin-top:50 px;
    margin-bottom: 80%;
  /* padding-block-start: 60px; */
}
.calls-list{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    /* margin-left: 34.5%; */
    
    padding-top: 20px; 
    padding-bottom: 40px; 
  }
  .arrow{
    margin-left: 1%;
  }
  .date{
    margin-left: 10px;;
  }
  .time{
    margin-left: 10px;
  }
  .type{
    margin-left: 10px;
  }
  .arrow-1{
    color:  red;
    font-weight: bold;
    margin-left: 10px;
  }
  .missed-call{
    color:  red;
    font-weight: bold;
    /* margin-left: 5px; */
  }
  .context-menu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 4px;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}