.password-setup-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
    margin-top: 100px;
    box-shadow: 0 10px 15px rgba(64, 33, 241, 0.1); 
  }
  
  h2{
    text-align: center;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  
  .password{
    margin-left: 9px;
    margin-bottom: 5px;
  }
  .form-control {
    width: 94%;
    padding: 0.5rem ;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 3px;
  }
  
  .number-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .num-btn, .clear-btn {
    flex: 1 1 30%;
    padding: 0.75rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 0.2rem;
  }
  
  .num-btn:hover, .clear-btn:hover {
    background-color: #0056b3;
  }
  
  .btn {
    width: 100%;
    cursor: pointer;
    width: 80px;
    text-align: center;
    margin-left: 185px;
    height: 30px;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(64, 33, 241, 0.1);
  }
  .btn-primary:disabled {
    cursor: not-allowed;
  }
  
  .btn-primary:valid{
    background-color: #0056b3;
    color: white;
  }